.header__title{
    font-size :80px; 
    color: #FFFFFF;
    width: 214px;
    height: 97px;
    margin-top: 1.5vh;
    font-family: 'Inter', sans-serif;
    font-style: italic;
     text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    text-align: center;
    
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__title {
     font-size :80px; 
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__title {
    font-size :70px; 
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__title{
    font-size :60px; 
  }
}
@media screen and (max-width: 424px) {
  .header__title{
    font-size :50px; 
    width: 190px;
    
  }
}
