.header__title{
    font-size :80px; 
    color: #FFFFFF;
    width: 214px;
    height: 97px;
    margin-top: 1.5vh;
    font-family: 'Inter', sans-serif;
    font-style: italic;
     text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    text-align: center;
    
}