.root{
  background: linear-gradient(to bottom , #B49D8C);
  display: flex;
  flex-direction: column;
      
  
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .root{
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    width:100%;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .root{
   
  }
}
@media screen and (max-width: 424px) {
  .root{

  }
}
