@import url(../__title/cart-sum__title/cart-sum__title.css);
.table__title{
    font-size : 2vh; 
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    width: 20vh;
    
}