@import url(../header/__logo/header__logo.css);
@import url(../header/__nav/header__nav.css);
@import url(../header/__nav/__icon/nav__icon.css);
@import url(../header/__title/header__title.css);
.header {
    background: linear-gradient(to bottom right, #8C7564, #B49D8C);
    width:100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    margin: auto;
}